[user]
	email = Fethbita@users.noreply.github.com
	name = Fethbita
	signingkey = 34FD858913F0A1080A137AB22DAC7407871459CE
[credential]
	helper = cache --timeout=3600
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
